.add-plant {
    width: 50vw;
    height: 50vh;

    .add-modal {
        position: absolute;
        bottom: -20.5%;
        right: 0;
     

        height: 0%;
        width: 100%;
        max-width: 50vw;
        background-color: #F8F6F5;
        transition: height 750ms ease;

        .close {
            position: absolute;
            top: 15px;
            right: 25px;

            font-size:24px;    
            cursor: pointer; 
        }

        .modal-content{
            opacity: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;

            height: 100%;
            width: 100%;

            transition: opacity 700ms ease;

            .left-col {
                height:100%;
                width: 100%;
            }

            .right-col {
                height: 100%;
                width: 100%;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .img-uploader {
                    height: 450px;
                    width: 300px;

                    background-color: lightgrey;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    font-size: 36px;
                    letter-spacing: 3px;

                    color: rgba(255, 255, 255, 0.5);
                    margin: 30px;
                }

                #bjs-special-button-that-needs-special-styling-for-some-reason {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    max-width: 300px;
                    margin: 0;
                }

            }
        }
    }
}

.add-form {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    h2 {
        font-size: 28px;
        margin-top: 25px;
        align-self: flex-start;
    }

    .find-plant {
        width:100%;
        margin: 0;

        border: none; 
        font-size: 16px;
    }

    .search {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 50px auto 0 auto;

        border: 1.75px solid rgba(0, 0, 0, 0.3);
        border-radius: 6px;
    }

    .icon-search {
        margin: 0 10px;
        font-size: 18px;
    }
}

.task-box {
    margin: 0 auto;
    margin: 40px 0 0 20px;
    width: 90%;
    height: 350px;

    background-color: rgb(224, 225, 226);

    .inner-task-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        height: 100%;

        h3 {
            font-size: 24px;
            margin-bottom: 25px;
        }

        textarea {
            max-width: 200px;
        }
    }
}