.dash{
    display: flex;
    justify-content: space-between;
    background: #F8F9FA;
    font-family: Poppins;
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;

    .leftDash{
        margin: 2%;    
        display: flex;
        flex-direction: column;
        background:white;
        height: 1000px;
        width: 40%;

        .menuUserBox{            
            display: flex;
            flex-direction: column;            
            box-shadow: 2px 2px 2px 2px #F8F9FA;;
            padding: 2%;
            align-items: flex-start;
            border-bottom: 2px solid #F8F6F5;
            border: 1px solid #F8F6F5;
            box-sizing: border-box;
            border-radius: 4px;
            img{
                margin: 2% 10% 10%;
            }
            p{
               font-size: 18px; 
               padding:4%;
            }
        }
        .menu{
            padding: 5% 0;
            border-bottom: 2px solid #F8F6F5;
            
            .dashboard, .plants, .tasks, .notes{
                display: flex;
                
                padding: 8%;
                font-family: Poppins;
                img{
                    margin-right: 10%;
                }
            }
        }
        .userpref{
            background:white;
            padding: 5% 0;
            .settings, .notifications{
                display: flex;
                padding: 8%;
                font-family: Poppins;
                img{
                    margin-right: 10%;
                }
            }
        }
    }
    .middleDash{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        margin: 2%;
        
        .notifBar{
            display: flex; 

            .plants, .plantsNo, .tasks, .tasksNo, .notifications, .notificationsNo, .notes, .notesNo{
                display: flex;
                flex-direction:column;
                justify-content: center;
                background: #FFFFFF;
                border-radius: 4px;
                width: 156px;
                height: 140px;
                margin: 1%;
                p {
                    margin: 5%;
                    line-height: 1.8rem;
                    font-size: 1.2rem;
                }
            }
        }
        .myPlants{
            font-family: Poppins;
            line-height: 2.7rem;
            background: #FFFFFF;
            border: 1px solid #F8F6F5;
            box-sizing: border-box;
            border-radius: 4px;
            height: 350px;
            width: 81%;
            margin: 1%;
            h2{
                text-align: left;
                margin: 3% 5%;
            }
        }
        .myTasks{
            font-family: Poppins;
            line-height: 2.7rem;
            background: #FFFFFF;
            border: 1px solid #F8F6F5;
            box-sizing: border-box;
            border-radius: 4px;
            height: 350px;
            width: 81%;
            margin: 1%;
            h2{
                text-align: left;
                margin: 3% 5%;
            }
        }
        
    }
    .rightDash{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10%;
        width: 40%;
        height: 467px;
        .calendar{

        }
        .addPlant{
            display: flex;
            flex-direction:column;
            
            background: #FFFFFF;
            border: 1px solid #F8F6F5;
            box-sizing: border-box;
            border-radius: 4px;
            .plusSign{
                margin: 2%;
            }
        }
    }
}