.login-register {
    border: 1px solid black;
    width: 30vw;
    margin: 0 auto;

    .log-reg-head {
        display: flex;
        justify-content: space-around;
        border: 1px solid red;
        height: 3rem;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        border: 0.3rem solid gray;

        .active-header {
            border-bottom: 0.3rem solid green;
        }
    }
}