.nav { 
  display: flex;
  .mainNav {
    width: 50%;
    display: flex;
    img {
      justify-content: flex-start;
    }
  }
  .button {
    width: 50%;
    display: flex;
    .loggedInButts {
      display: flex;
      button {
        justify-content: flex-end;
      }
    }
    .loggedOutButts {
      display: flex;
      .signup {
        /* Button Text */
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;

        /* Text2 */
        color: #495057;

        /* Secondary Color */
        background: #E4D5C7;
        border-radius: 4px;
      }
      .signin {
        /* Button Text */
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.08em;

        /* Background color */
        color: #F8F6F5;

        /* Primary Color */
        background: #397D54;
        border-radius: 4px;
      }
    }
  }
}