/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav {
  display: flex;
}
.nav .mainNav {
  width: 50%;
  display: flex;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.nav .mainNav img {
  justify-content: flex-start;
}
.nav .button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  margin-right: 2rem;
}
.nav .button .loggedInButts {
  display: flex;
}
.nav .button .loggedInButts button {
  justify-content: flex-end;
}
.nav .button .loggedOutButts {
  display: flex;
}
.nav .button .loggedOutButts .signup {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Text2 */
  color: #495057;
  /* Secondary Color */
  background: #E4D5C7;
  border-radius: 4px;
}
.nav .button .loggedOutButts .signin {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Background color */
  color: #F8F6F5;
  /* Primary Color */
  background: #397D54;
  border-radius: 4px;
  margin-right: 1rem;
}
.landing {
  display: flex;
  flex-wrap: wrap;
}
.landing .landingBody {
  display: flex;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 38rem;
}
.landing .landingBody div {
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.landing .landingBody div h1 {
  /* Headline 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.08em;
  /* Text1 */
  color: #212429;
  text-align: center;
  justify-content: center;
}
.landing .landingBody div h1.greenheader {
  /* Headline 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.08em;
  /* Text1 */
  color: #397D54;
  text-align: center;
}
.landing .landingBody div h3 {
  /* Headline 3/Regular */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.08em;
  padding: 5rem;
  /* Text2 */
  color: #495057;
  text-align: center;
}
.landing .landingBody button.signin {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Background color */
  color: #F8F6F5;
  /* Primary Color */
  background: #397D54;
  border-radius: 4px;
  margin: auto;
}
.landing .landingBody img {
  width: 50%;
}
.landing .landingFeatures {
  display: flex;
  background: #F8F6F5;
  height: 38rem;
}
@media (max-width:1000px) {
  .landing .landingFeatures img.sideLeaf {
    width: 5rem;
  }
}
@media (max-width:800px) {
  .landing .landingFeatures img.sideLeaf {
    display: none;
  }
}
.landing .landingFeatures div {
  margin: auto;
}
.landing .landingFeatures div h6 {
  /* Headline 3/Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #000000;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.landing .landingFeatures div p {
  /* Headline 4/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #000000;
  justify-content: center;
}
.landing .landingContact {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.landing .landingContact .socialApps {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
}
.landing .landingContact .terms {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.landing .landingContact .terms p {
  margin-bottom: 1rem;
}
