/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  width: 100vw;
  text-align: center;
}
.App input {
  border: 1px solid green;
}
#error-text {
  color: red;
  font-weight: bold;
}
.button {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.08em;
  border: 1px solid #1b3b28;
  display: flex;
  align-items: center;
  text-align: center;
  /* Background color */
  color: #F8F6F5;
  /* Primary Color */
  background: #397D54;
  border-radius: 4px;
  margin: auto;
}
.log-reg-contain {
  height: 85vh;
  overflow: hidden;
}
.log-reg-contain .login-register {
  font-family: 'Poppins';
  background-color: #f1f1f1;
  width: 30vw;
  margin: 5rem auto 0;
  padding-bottom: 1rem;
}
.log-reg-contain .login-register .log-reg-head {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  height: 3.4rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
}
.log-reg-contain .login-register .log-reg-head h2 {
  padding-top: 0.9rem;
}
.log-reg-contain .login-register .log-reg-head .active-header {
  border-bottom: 0.2rem solid green;
}
.log-reg-contain .login-register .log-reg-desc {
  padding: 0 3rem;
}
.log-reg-contain .login-register .log-reg-desc h2 {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 2rem 0;
}
.log-reg-contain .login-register .log-reg-desc p {
  margin-bottom: 3rem;
}
@media (max-width:1000px) {
  .log-reg-contain .login-register {
    width: 70vw;
  }
  .log-reg-contain .login-register input {
    min-width: 50%;
  }
}
@media (max-width:500px) {
  .log-reg-contain .login-register {
    width: 70vw;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.nav {
  display: flex;
  height: 8vh;
}
.nav .mainNav {
  width: 50%;
  display: flex;
  margin: 0.5rem 2rem 0;
}
.nav .mainNav img {
  justify-content: flex-start;
}
.nav .nav-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  margin-right: 4rem;
}
.nav .nav-container .loggedInButts {
  display: flex;
}
.nav .nav-container .loggedInButts button {
  justify-content: flex-end;
}
.nav .nav-container .loggedOutButts {
  display: flex;
}
.nav .nav-container .loggedOutButts .signup {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Text2 */
  color: #495057;
  /* Secondary Color */
  background: #e4d5c7;
  border-radius: 4px;
}
.nav .nav-container .loggedOutButts .signin {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Background color */
  color: #f8f6f5;
  /* Primary Color */
  background: #397d54;
  border-radius: 4px;
  margin-right: 1rem;
}
@media (max-width:500px) {
  .nav .nav-container .loggedOutButts {
    flex-direction: column;
    align-items: center;
  }
  .nav .nav-container .loggedOutButts button {
    margin: 0.5rem 0.8rem;
  }
}
.landing {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.landing .landingBody {
  display: flex;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 38rem;
}
.landing .landingBody div {
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.landing .landingBody div h1 {
  /* Headline 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.08em;
  /* Text1 */
  color: #212429;
  text-align: center;
  justify-content: center;
}
.landing .landingBody div h1.greenheader {
  /* Headline 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.08em;
  /* Text1 */
  color: #397d54;
  text-align: center;
}
.landing .landingBody div h3 {
  /* Headline 3/Regular */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.08em;
  padding: 5rem;
  /* Text2 */
  color: #495057;
  text-align: center;
}
.landing .landingBody .potted {
  margin: auto 0;
  width: 40vw;
  height: 40vw;
}
.landing .landingBody img {
  width: 50%;
}
@media (max-width:500px) {
  .landing .landingBody {
    flex-direction: column-reverse;
    transform: translateY(6rem);
    margin: 0 auto;
  }
  .landing .landingBody div {
    align-items: center;
    width: 70vw;
  }
  .landing .landingBody div h1 {
    padding: 0;
    margin: 0;
  }
  .landing .landingBody div h3 {
    width: 65vw;
    padding: 0;
    margin: 3rem auto;
  }
  .landing .landingBody .potted {
    width: 45vw;
    height: 45vw;
    margin: 3rem auto 0;
    padding: 0;
  }
}
@media (max-width:500px) {
  .landing .landingBody .sign-up {
    border: 1px solid black;
  }
}
.landing .landingFeatures {
  display: flex;
  background: #f8f6f5;
  height: 38rem;
  width: 100vw;
}
@media (max-width:1000px) {
  .landing .landingFeatures img.sideLeaf {
    width: 5rem;
  }
}
@media (max-width:500px) {
  .landing .landingFeatures img.sideLeaf {
    transform: translateY(6rem);
    display: none;
    padding: 0 5rem;
  }
}
.landing .landingFeatures div {
  margin: auto;
}
.landing .landingFeatures div h6 {
  /* Headline 3/Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #000000;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.landing .landingFeatures div p {
  /* Headline 4/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #000000;
  justify-content: center;
}
@media (max-width:500px) {
  .landing .landingFeatures {
    transform: translateY(6rem);
    height: 30rem;
  }
}
.landing .landingContact {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width:500px) {
  .landing .landingContact {
    transform: translateY(3rem);
  }
}
.landing .landingContact .socialApps {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
}
.landing .landingContact .terms {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.landing .landingContact .terms p {
  margin-bottom: 1rem;
}
.dash {
  display: flex;
  justify-content: space-between;
  background: #F8F9FA;
  font-family: Poppins;
  height: 100vh;
  margin: 0 auto;
}
@media (max-width:1000px) {
  .dash {
    flex-direction: column;
  }
}
@media (max-width:500px) {
  .dash {
    flex-direction: column;
  }
}
.dash .leftDash {
  margin: 2% 0 0 2%;
  display: flex;
  flex-direction: column;
  background: white;
  height: 875px;
  width: 40%;
}
@media (max-width:1240px) {
  .dash .leftDash {
    width: 100%;
    height: 700px;
  }
}
@media (max-width:1000px) {
  .dash .leftDash {
    width: 25%;
    margin: 1%;
  }
}
@media (max-width:500px) {
  .dash .leftDash {
    width: 100%;
  }
}
.dash .leftDash .menuUserBox {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px #F8F9FA;
  padding: 2%;
  align-items: flex-start;
  border-bottom: 2px solid #F8F6F5;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
}
.dash .leftDash .menuUserBox img {
  margin: 2% 10% 10%;
}
.dash .leftDash .menuUserBox p {
  font-size: 1.3rem;
  padding: 4%;
}
@media (max-width:1240px) {
  .dash .leftDash .menuUserBox p {
    font-size: 1rem;
  }
}
@media (max-width:500px) {
  .dash .leftDash .menuUserBox {
    font-size: 1.2rem;
    height: 100px;
    flex-direction: row;
  }
}
.dash .leftDash .menu {
  padding: 5% 0;
  border-bottom: 2px solid #F8F6F5;
}
@media (max-width:500px) {
  .dash .leftDash .menu {
    padding: 1%;
  }
}
.dash .leftDash .menu .dashboard,
.dash .leftDash .menu .plants,
.dash .leftDash .menu .tasks,
.dash .leftDash .menu .notes {
  display: flex;
  padding: 8%;
  font-family: Poppins;
  font-size: 1.2rem;
}
@media (max-width:1240px) {
  .dash .leftDash .menu .dashboard,
  .dash .leftDash .menu .plants,
  .dash .leftDash .menu .tasks,
  .dash .leftDash .menu .notes {
    font-size: 1rem;
    flex-direction: column;
  }
  .dash .leftDash .menu .dashboard img,
  .dash .leftDash .menu .plants img,
  .dash .leftDash .menu .tasks img,
  .dash .leftDash .menu .notes img {
    padding: 2%;
  }
}
.dash .leftDash .menu .dashboard img,
.dash .leftDash .menu .plants img,
.dash .leftDash .menu .tasks img,
.dash .leftDash .menu .notes img {
  margin-right: 10%;
}
@media (max-width:500px) {
  .dash .leftDash .menu .dashboard,
  .dash .leftDash .menu .plants,
  .dash .leftDash .menu .tasks,
  .dash .leftDash .menu .notes {
    justify-content: center;
    font-size: 1rem;
    padding: 5%;
  }
  .dash .leftDash .menu .dashboard img,
  .dash .leftDash .menu .plants img,
  .dash .leftDash .menu .tasks img,
  .dash .leftDash .menu .notes img {
    margin-right: 1%;
    height: 1.2rem;
  }
}
.dash .leftDash .userpref {
  background: white;
  padding: 5% 0;
}
.dash .leftDash .userpref .settings,
.dash .leftDash .userpref .notifications {
  display: flex;
  padding: 8%;
  font-family: Poppins;
  font-size: 1.2rem;
}
@media (max-width:1240px) {
  .dash .leftDash .userpref .settings,
  .dash .leftDash .userpref .notifications {
    font-size: 1rem;
    flex-direction: column;
  }
  .dash .leftDash .userpref .settings img,
  .dash .leftDash .userpref .notifications img {
    padding: 2%;
  }
}
.dash .leftDash .userpref .settings img,
.dash .leftDash .userpref .notifications img {
  margin-right: 10%;
}
@media (max-width:500px) {
  .dash .leftDash .userpref .settings,
  .dash .leftDash .userpref .notifications {
    justify-content: center;
    font-size: 1rem;
    padding: 5%;
  }
  .dash .leftDash .userpref .settings img,
  .dash .leftDash .userpref .notifications img {
    margin-right: 1%;
    height: 1.2rem;
  }
}
.dash .middleDash {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin: 2%;
}
@media (max-width:1240px) {
  .dash .middleDash {
    width: 70%;
  }
}
@media (max-width:1000px) {
  .dash .middleDash {
    width: 45%;
    margin: 1%;
  }
}
@media (max-width:500px) {
  .dash .middleDash {
    width: 95%;
  }
}
.dash .middleDash .notifBar {
  display: flex;
  justify-content: space-between;
}
.dash .middleDash .notifBar .plants,
.dash .middleDash .notifBar .plantsNo,
.dash .middleDash .notifBar .tasks,
.dash .middleDash .notifBar .tasksNo,
.dash .middleDash .notifBar .notifications,
.dash .middleDash .notifBar .notificationsNo,
.dash .middleDash .notifBar .notes,
.dash .middleDash .notifBar .notesNo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 4px;
  width: 156px;
  height: 140px;
  margin: 1%;
}
.dash .middleDash .notifBar .plants p,
.dash .middleDash .notifBar .plantsNo p,
.dash .middleDash .notifBar .tasks p,
.dash .middleDash .notifBar .tasksNo p,
.dash .middleDash .notifBar .notifications p,
.dash .middleDash .notifBar .notificationsNo p,
.dash .middleDash .notifBar .notes p,
.dash .middleDash .notifBar .notesNo p {
  margin: 5%;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
@media (max-width:500px) {
  .dash .middleDash .notifBar .plants,
  .dash .middleDash .notifBar .plantsNo,
  .dash .middleDash .notifBar .tasks,
  .dash .middleDash .notifBar .tasksNo,
  .dash .middleDash .notifBar .notifications,
  .dash .middleDash .notifBar .notificationsNo,
  .dash .middleDash .notifBar .notes,
  .dash .middleDash .notifBar .notesNo {
    font-size: 0.8rem;
  }
}
.dash .middleDash .myPlants {
  text-align: left;
  font-family: Poppins;
  line-height: 2.7rem;
  background: #FFFFFF;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 350px;
  width: 100%;
  margin: 1%;
  overflow: hidden;
}
.dash .middleDash .myPlants h2 {
  font-weight: bold;
  margin: 2%;
}
.dash .middleDash .myPlants .plantContainer {
  display: flex;
  justify-content: space-evenly;
}
.dash .middleDash .myPlants .plantContainer .plantCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2%;
}
.dash .middleDash .myPlants .plantContainer .plantCard img {
  width: 150px;
  height: 150px;
}
.dash .middleDash .myPlants .plantContainer .plantCard h2 {
  text-align: left;
  margin: 3% 5%;
}
@media (max-width:500px) {
  .dash .middleDash .myPlants .plantContainer .plantCard {
    height: fit-content;
  }
}
.dash .middleDash .myTasks {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  line-height: 2.7rem;
  background: #FFFFFF;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 350px;
  width: 100%;
  margin: 1%;
}
.dash .middleDash .myTasks h2 {
  font-weight: bold;
  text-align: left;
  margin: 2%;
}
.dash .middleDash .myTasks .taskContainer {
  width: 90%;
  margin-left: 2%;
}
.dash .middleDash .myTasks .taskContainer .taskCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #F8F6F5;
  background: #F8F9FA;
  border-radius: 4px;
  height: 100px;
  margin: 1%;
}
.dash .middleDash .myTasks .taskContainer .taskCard h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
.dash .middleDash .myTasks .taskContainer .taskCard p {
  font-size: 0.8rem;
}
@media (max-width:500px) {
  .dash .middleDash .myTasks .taskContainer .taskCard {
    height: fit-content;
  }
}
.dash .rightDash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  margin-right: 2%;
  width: 45%;
  height: 900px;
}
@media (max-width:1000px) {
  .dash .rightDash {
    width: 20%;
  }
}
@media (max-width:500px) {
  .dash .rightDash {
    width: 100%;
  }
}
.dash .rightDash .calendar {
  margin-bottom: 10%;
}
@media (max-width:500px) {
  .dash .rightDash .calendar {
    margin: auto;
  }
}
.dash .rightDash .addPlant {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5% 0;
  background: #FFFFFF;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
}
.dash .rightDash .addPlant .plusSign {
  margin: 5%;
}
@media (max-width:1240px) {
  .dash .rightDash .addPlant {
    width: 100%;
  }
}
.add-plant {
  width: 50vw;
  height: 50vh;
}
.add-plant .add-modal {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.01%;
  width: 100%;
  max-width: 50vw;
  background-color: #F8F6F5;
  transition: height 750ms ease;
}
.add-plant .add-modal .close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 24px;
  cursor: pointer;
}
.add-plant .add-modal .modal-content {
  opacity: 0.01;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: opacity 700ms ease;
}
.add-plant .add-modal .modal-content .left-col {
  height: 100%;
  width: 100%;
}
.add-plant .add-modal .modal-content .right-col {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-plant .add-modal .modal-content .right-col .img-uploader {
  height: 450px;
  width: 300px;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin: 30px;
}
.add-plant .add-modal .modal-content .right-col #bjs-special-button-that-needs-special-styling-for-some-reason {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  margin: 0;
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}
.add-form h2 {
  font-size: 28px;
  margin-top: 25px;
  align-self: flex-start;
}
.add-form .find-plant {
  width: 100%;
  margin: 0;
  border: none;
  font-size: 16px;
}
.add-form .search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  border: 1.75px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
.add-form .icon-search {
  margin: 0 10px;
  font-size: 18px;
}
.task-box {
  margin: 0 auto;
  margin: 40px 0 0 20px;
  width: 90%;
  height: 350px;
  background-color: #e0e1e2;
}
.task-box .inner-task-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.task-box .inner-task-box h3 {
  font-size: 24px;
  margin-bottom: 25px;
}
.task-box .inner-task-box textarea {
  max-width: 200px;
}
.task-panel {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: #CBEAD1;
  padding: 20px;
  opacity: 0;
  z-index: -100000000000000;
  transition: opacity 600ms ease;
}
.dark {
  background-color: #CBEAD1;
}
.show {
  opacity: 100;
  z-index: 1;
}
.tasks {
  transition: background-color 500ms ease;
}
