/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  width: 100vw;
}
.nav {
  display: flex;
}
.nav .mainNav {
  width: 50%;
  display: flex;
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.nav .mainNav img {
  justify-content: flex-start;
}
.nav .button {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  margin-right: 2rem;
}
.nav .button .loggedInButts {
  display: flex;
}
.nav .button .loggedInButts button {
  justify-content: flex-end;
}
.nav .button .loggedOutButts {
  display: flex;
}
.nav .button .loggedOutButts .signup {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Text2 */
  color: #495057;
  /* Secondary Color */
  background: #E4D5C7;
  border-radius: 4px;
}
.nav .button .loggedOutButts .signin {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Background color */
  color: #F8F6F5;
  /* Primary Color */
  background: #397D54;
  border-radius: 4px;
  margin-right: 1rem;
}
.landing {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}
.landing .landingBody {
  display: flex;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 38rem;
}
.landing .landingBody div {
  width: 50%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.landing .landingBody div h1 {
  /* Headline 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.08em;
  /* Text1 */
  color: #212429;
  text-align: center;
  justify-content: center;
}
.landing .landingBody div h1.greenheader {
  /* Headline 1/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  letter-spacing: 0.08em;
  /* Text1 */
  color: #397D54;
  text-align: center;
}
.landing .landingBody div h3 {
  /* Headline 3/Regular */
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.08em;
  padding: 5rem;
  /* Text2 */
  color: #495057;
  text-align: center;
}
.landing .landingBody button.signin {
  /* Button Text */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  /* Background color */
  color: #F8F6F5;
  /* Primary Color */
  background: #397D54;
  border-radius: 4px;
  margin: auto;
}
.landing .landingBody img {
  width: 50%;
}
.landing .landingFeatures {
  display: flex;
  background: #F8F6F5;
  height: 38rem;
  width: 100vw;
}
@media (max-width:1000px) {
  .landing .landingFeatures img.sideLeaf {
    width: 5rem;
  }
}
@media (max-width:800px) {
  .landing .landingFeatures img.sideLeaf {
    display: none;
  }
}
.landing .landingFeatures div {
  margin: auto;
}
.landing .landingFeatures div h6 {
  /* Headline 3/Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #000000;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.landing .landingFeatures div p {
  /* Headline 4/Regular */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #000000;
  justify-content: center;
}
.landing .landingContact {
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.landing .landingContact .socialApps {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2rem;
}
.landing .landingContact .terms {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.landing .landingContact .terms p {
  margin-bottom: 1rem;
}
.dash {
  display: flex;
  justify-content: space-between;
  background: #F8F9FA;
  font-family: Poppins;
  max-width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.dash .leftDash {
  margin: 2%;
  display: flex;
  flex-direction: column;
  background: white;
  height: 1000px;
  width: 40%;
}
.dash .leftDash .menuUserBox {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 2px 2px #F8F9FA;
  padding: 2%;
  align-items: flex-start;
  border-bottom: 2px solid #F8F6F5;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
}
.dash .leftDash .menuUserBox img {
  margin: 2% 10% 10%;
}
.dash .leftDash .menuUserBox p {
  font-size: 18px;
  padding: 4%;
}
.dash .leftDash .menu {
  padding: 5% 0;
  border-bottom: 2px solid #F8F6F5;
}
.dash .leftDash .menu .dashboard,
.dash .leftDash .menu .plants,
.dash .leftDash .menu .tasks,
.dash .leftDash .menu .notes {
  display: flex;
  padding: 8%;
  font-family: Poppins;
}
.dash .leftDash .menu .dashboard img,
.dash .leftDash .menu .plants img,
.dash .leftDash .menu .tasks img,
.dash .leftDash .menu .notes img {
  margin-right: 10%;
}
.dash .leftDash .userpref {
  background: white;
  padding: 5% 0;
}
.dash .leftDash .userpref .settings,
.dash .leftDash .userpref .notifications {
  display: flex;
  padding: 8%;
  font-family: Poppins;
}
.dash .leftDash .userpref .settings img,
.dash .leftDash .userpref .notifications img {
  margin-right: 10%;
}
.dash .middleDash {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin: 2%;
}
.dash .middleDash .notifBar {
  display: flex;
}
.dash .middleDash .notifBar .plants,
.dash .middleDash .notifBar .plantsNo,
.dash .middleDash .notifBar .tasks,
.dash .middleDash .notifBar .tasksNo,
.dash .middleDash .notifBar .notifications,
.dash .middleDash .notifBar .notificationsNo,
.dash .middleDash .notifBar .notes,
.dash .middleDash .notifBar .notesNo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  border-radius: 4px;
  width: 156px;
  height: 140px;
  margin: 1%;
}
.dash .middleDash .notifBar .plants p,
.dash .middleDash .notifBar .plantsNo p,
.dash .middleDash .notifBar .tasks p,
.dash .middleDash .notifBar .tasksNo p,
.dash .middleDash .notifBar .notifications p,
.dash .middleDash .notifBar .notificationsNo p,
.dash .middleDash .notifBar .notes p,
.dash .middleDash .notifBar .notesNo p {
  margin: 5%;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.dash .middleDash .myPlants {
  font-family: Poppins;
  line-height: 2.7rem;
  background: #FFFFFF;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 350px;
  width: 81%;
  margin: 1%;
}
.dash .middleDash .myPlants h2 {
  text-align: left;
  margin: 3% 5%;
}
.dash .middleDash .myTasks {
  font-family: Poppins;
  line-height: 2.7rem;
  background: #FFFFFF;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 350px;
  width: 81%;
  margin: 1%;
}
.dash .middleDash .myTasks h2 {
  text-align: left;
  margin: 3% 5%;
}
.dash .rightDash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
  width: 40%;
  height: 467px;
}
.dash .rightDash .addPlant {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #F8F6F5;
  box-sizing: border-box;
  border-radius: 4px;
}
.dash .rightDash .addPlant .plusSign {
  margin: 2%;
}
.add-plant .add-modal {
  position: absolute;
  bottom: -14%;
  right: 0;
  display: none;
  height: 500px;
  width: 650px;
  background-color: #F8F6F5;
}
.add-plant .add-modal .close {
  position: absolute;
  top: 5px;
  right: 25px;
  font-size: 24px;
}
.add-plant .add-modal .modal-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.add-plant .add-modal .modal-content .left-col {
  border: 1px solid red;
  height: 400px;
}
.add-plant .add-modal .modal-content .right-col {
  border: 1px solid red;
  height: 400px;
}
